*.py[co]
db.sqlite3
*.swp
spejstore.env
env/
backups
media/
django-tree/
postgres-hstore/
.ropeproject/
docker-compose.yml
docker-compose.override.yml
docker-compose.prod-override.yml
docker-compose.dev-override.yml
build_static
.venv
.vscode
.history
log
.Dockerfile
.env
.devcontainer
