*.py[co]
db.sqlite3
*.swp
spejstore.env
.env
env/
backups
media/
django-tree/
postgres-hstore/
.ropeproject/
docker-compose.override.yml
build_static
.venv

__pycache__

# Is not ignored by default in devcontainers, macs bad
.DS_Store
