.table td.placeholder {
    text-align: center;
    color: #999;
}

.table td.placeholder a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.containericon {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.containericon span {
    padding-left: 0.5rem;
    font-weight: bold;
}
